* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    color: lightgreen;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 1.5rem;
}

section {
    display: flex;
    justify-content: center;
}

ul {
    background-color: black;
    color: white;
    border: 1.5px solid transparent;
    margin-right: 2.5rem;
    border-radius: 25px;
}

li > h2 {
    padding: .7rem;
    text-align: center;
    font-weight: 900;
    font-variant: small-caps;
}

li > p {
    padding: .7rem;
}

img {
    width: 255px;
}